<script src="/assets/js/domready.js"></script>
<style>
    
</style>
<script>
sidebar_tabs = (function() {

  'use strict';

  /**
   * tabs
   *
   * @description The Tabs component.
   * @param {Object} options The options hash
   */
  var tabs = function(options) {
    var el = document.querySelector(options.el);
    var tabNavigationLinks = el.querySelectorAll(options.tabNavigationLinks);
    var tabContentContainers = el.querySelectorAll(options.tabContentContainers);
    var activeIndex = 0;
    var initCalled = false;

    /**
     * init
     *
     * @description Initializes the component by removing the no-js class from
     *   the component, and attaching event listeners to each of the nav items.
     *   Returns nothing.
     */
    var init = function() {
      if (!initCalled) {
        initCalled = true;
        el.classList.remove('no-js');
        
        for (var i = 0; i < tabNavigationLinks.length; i++) {
          var link = tabNavigationLinks[i];
          handleClick(link, i);
        }
      }
    };

    /**
     * handleClick
     *
     * @description Handles click event listeners on each of the links in the
     *   tab navigation. Returns nothing.
     * @param {HTMLElement} link The link to listen for events on
     * @param {Number} index The index of that link
     */
    var handleClick = function(link, index) {
      link.addEventListener('click', function(e) {
        console.log("CLICK");
        e.preventDefault();
        goToTab(index);
      });
    };

    /**
     * goToTab
     *
     * @description Goes to a specific tab based on index. Returns nothing.
     * @param {Number} index The index of the tab to go to
     */
    var goToTab = function(index) {
      console.log(index);
      console.log(options);
      if (index !== activeIndex && index >= 0 && index <= tabNavigationLinks.length) {
        tabNavigationLinks[activeIndex].classList.remove(options.activeLinkClass);
        tabNavigationLinks[index].classList.add(options.activeLinkClass);
        tabContentContainers[activeIndex].classList.remove(options.activeContentClass);
        tabContentContainers[index].classList.add(options.activeContentClass);
        activeIndex = index;
      }
    };

    /**
     * Returns init and goToTab
     */
    return {
      init: init,
      goToTab: goToTab
    };

  };

  /**
   * Attach to global namespace
   */
  window.tabs = tabs;

})();
domReady(function() {
    var myTabs = tabs({
    el: '#tabs',
    tabNavigationLinks: ".c-tab-link",
    tabContentContainers: ".c-tab-content",
    activeLinkClass: "tc-tab-selected",
    activeContentClass: "selectedContent",

  })
  myTabs.init();
});



</script>
<style>
.c-tab-content {
  display: none;
}

.c-tab-content.selectedContent {
  display: block;
}

.c-tabs.no-js .c-tabs-nav {
  display: none;
}

.c-tabs.no-js .c-tab-content{
  display: block;
  margin-bottom: 1.5rem;
}

.c-tab.no-js .c-tab:last-child {
  margin-bottom: 0;
}
</style>
<div id="tabs" class="tc-tab-set c-tabs no-js">
    <div class="tc-tab-buttons c-tabs-nav">
        <button class="c-tab-link tc-tab-selected">Related</button>
        <button class="c-tab-link ">Recent</button>
        <button class="c-tab-link">Archives</button>
        <button class="c-tab-link">Contact</button>
    </div>
    <div class="tc-tab-divider"></div>
    <div class="c-tab-content tc-tab-content selectedContent">
        <div class=" tc-reveal">
            Testing1
        </div>
    </div>
    <div class="c-tab-content tc-tab-content">
        <div class=" tc-reveal">
            Testing2
        </div>
    </div>
    <div class="c-tab-content tc-tab-content">
        <div class=" tc-reveal">
            Testing3
        </div>
    </div>
    <div class="c-tab-content tc-tab-content">
        <div class=" tc-reveal">
            Testing4
        </div>
    </div>
</div>
