---
layout: default
---
{% include title.html title=page.title %}
<div class=" tc-reveal">
<div class="tc-subtitle">
    Posted on {% include date.html date=page.date %}
    {% if page.author %}
        by {{ page.author }}
    {% elsif site.author %}
        by {{ site.author }}
    {% endif %}
</div>
</div>
<div class=" tc-reveal">
<div class="tc-tags-wrapper">
    {% for each_tag in page.tags %}
        {% assign data_tag = (site.post_tags | where: "name" , each_tag) %}
        {% assign data_tag = data_tag[0] %}
        {% if data_tag %}
        {% include tag.html tag=data_tag %}
        {% else %}
            <br>{{each_tag}} Tag not found in post_tags collection<br>
        {% endif %}
    {% endfor %}
</div>
</div>
<div class="tc-tiddler-body tc-reveal">
{{ content }}
</div>

